node_modules/
.git/
coverage/

.dockerignore
Dockerfile

.gitignore
.env
.eslintrc
.editorconfig
.gitlab-ci.yml

kerckhoff/assets/bundles/
static/

stats.json
webpack-stats.json
npm-debug.log

*/**/__pycache__/
v8-compile-cache*

.mypy_cache