version: '3'

services:
  web:
    build: .
    image: kerckhoff
    command: python3 kerckhoff/manage.py runserver 0.0.0.0:5000
    entrypoint: ./dev-entrypoint.sh
    ports:
      - "5000:5000"
    env_file: .env
    depends_on:
      - db
      - redis
    volumes:
      - .:/kerckhoff
  db:
    image: postgres:latest
    ports:
      - "5432:5432"
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  es:
    image: blacktop/elasticsearch
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data

volumes:
  es_data:
