-i https://pypi.python.org/simple
arrow 
backports.functools-lru-cache 
bleach 
boto3 
botocore 
cachetools 
certifi 
chardet 
cloudflare 
configparser 
coreapi 
coreschema 
defusedxml 
django-allauth 
django-cors-headers 
django-environ 
django-extensions 
django-filter 
django-s3direct 
django-storages 
django-webpack-loader==0.7.0
django 
djangorestframework 
docutils 
elasticsearch-dsl 
elasticsearch 
enum34 
future 
futures 
git+https://github.com/dailybruin/archieml-python@9176625d1d2b163cf3808ea1506d05cdca10589f#egg=archieml
google-api-python-client 
google-auth-httplib2 
google-auth 
gunicorn 
html5lib 
httplib2 
idna 
ipaddress 
isort 
itypes 
jinja2 
jmespath 
jsonlines 
lazy-object-proxy 
markdown 
markupsafe 
mccabe 
oauth2client 
oauthlib 
olefile 
pillow 
psycopg2 
pyasn1-modules 
pyasn1 
pydrive 
python-dateutil 
python-openid 
python3-openid 
pytz 
pyyaml 
requests-oauthlib 
requests 
rsa 
s3transfer 
singledispatch 
six 
uritemplate 
urllib3 
webencodings 
whitenoise 
wrapt 
