{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Feature pieces and flat pages from the Daily Bruin, UCLA's student run daily newspaper since 1919.">
    <meta name="author" content="The Daily Bruin">
    <link rel="icon" type="image/png" href="{% static '/img/favicons/favicon-32x32.png' %}" sizes="32x32">
    <link rel="icon" type="image/png" href="{% static '/img/favicons/favicon-96x96.png' %}" sizes="96x96">
    <title>Features | The Daily Bruin </title>
    {% block header %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}

    {% block js %}
    {% endblock %}
  </body>
</html>
